<div class = "d-flex align-items-center justify-content-center">
<h1>Welcome to Twitter Scheduler App My Very Best</h1>
</div>

<div class = "d-flex align-items-center justify-content-center">
<p>Using this Web App, you will be able to connect your twitter accounts and schedule your tweets</p>
</div>

<div class = "d-flex align-items-center justify-content-center">
<% if Current.user %>
<%= button_to "Click to Connect Your Twitter Account", "/auth/twitter", method: :post, class: "btn btn-primary mt-3", data: { turbo: false } %>
<% else %>

<%= link_to "Click to Sign Up", sign_up_path, class: "btn btn-primary mt-3", data: { turbo: false } %>
<% end %>
</div>

