<div class = "d-flex align-items-center justify-content-center">
<h1>Welcome to Twitter Scheduler App My Very Best</h1>
</div>

<div class = "d-flex align-items-center justify-content-center">
<p>Using this Web Application, you will be able to connect your twitter accounts and schedule your tweets</p>
</div>

<div class = "d-flex align-items-center justify-content-center">
<%= button_to "Click to Connect Your Twitter Account", "/auth/twitter", method: :post, class: "btn btn-primary mt-3", data: { turbo: false } %>

</div>

