<div class = "d-flex align-items-center justify-content-center">
<h1>Welcome to Twitter Scheduler App My Very Best</h1>
</div>

<div class = "d-flex align-items-center justify-content-center">
<%= button_to "Connect To Twitter My Very Best", "/auth/twitter", method: :post, class: "btn btn-primary", data: { turbo: false } %>

</div>

