<div class="mb-3 card mt-3 bg-light mb-3 mb-3">
	<div class="card-body">
		<p class="card-text">	<%= tweet.body %> </p>
	</div>
	<div class="d-flex align-items-center mb-1 me-4 card-footer">
		<img src="<%= tweet.twitter_account.image %>" class = "img-thumbnail">
		<%= link_to "@#{tweet.twitter_account.username}", "https://twitter.com/#{tweet.twitter_account.username}", target: :_blank %>
	</div>
</div>
