<div class = "container" >
	<div class = "d-flex align-items-center justify-content-center">
		<h3>About Us</h3>
	</div>
	<div>
		<p>My very Best, this web application will help you to schedule tweets to your twitter. Tweet while you sleep, how does it sound to you?</p>
	</div>
